
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');


body {
  margin: 0;
  color: #5c5b5b;
}


.page {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  width: 1184px;
  margin: 0 auto;
}


header {
  width: 100%;
  text-align: center;
}


h1 {
  color: #000000;
}


nav {
  border-bottom: solid #5c5b5b 1px;
}


header nav ul {
  padding: 0px;
  margin-top: 30px;
}


header nav ul li {
  margin: 0 10px;
  display: inline;
}


header nav ul li a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.5px;
}


header ul li a:hover {
  color: #3399CC;
}

.about {
  position: relative;
  width: 100%;
  min-height: 644px;
  margin-top: 30px;
}

.about h2 {
  position: absolute;
  left: 50px;
  top: 20px;
  color: #000000;
}

.about div {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 40%;
  line-height: 1.5em;
}

.about div strong {
  color: #000000;
}

.about img {
  width: 40%;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 5px;
}


.about span {
  position: absolute;
  background-color: #ff0410;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  color: #fbfbfb;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}


.projects h2 {
  width: 100%;
  text-align: center;
  color: #000000;
}


.projects div {
  width: 520px;
  background: #5c5b5b;
  margin: 15px;
  height: 297px;
  background-image: url('../images/project_x.jpg');
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


#project1 {
  background-image: url('../images/1.jpg');
}

#project2 {
  background-image: url('../images/2.jpg');
}

#project3 {
  background-image: url('../images/3.jpg');
}

#project4 {
  background-image: url('../images/4.jpg');
}


.projects h3 {
  background-color: #CCCCCC;
  padding: 10px;
  border-radius: 8px;
  opacity: 0.8;
  width: fit-content;
  color: black;
  font-weight: 400;
}


.projects span {
  background: #CCCCCC;
  padding: 5px;
  opacity: 0.8;
  border-radius: 5px;
  width: 90%;
  color: black;
  font-weight: 100;
}


.future {
  position: relative;
}


.future h2 {
  width: 100%;
  text-align: center;
  color: #000000;
}


.future a {
  width: 100%;
  text-align: center;
}


.future a .cover {
  width: 100%;
  min-height: 700px;
  background-image: url('../images/5.jpg');
  background-size: cover;
  background-position: center;
}

/* НАСТРАИВАЕМ ЗАТЕМНЯЮЩИЙ БЛОК */
.future a .back {
  width: 100%;
  min-height: 700px;
  background-color:#CCCCCC;
  display: block;
  position: absolute;
  opacity: 0.5;
  transition: 10s;
}


.future a:hover .back {
  opacity: 0.9;
  transition: .5s;
}


.future a:hover p {
  transition: .5s;
  font-size: 170%;
  top: 250px;
}


.future a p {
  position: absolute;
  top: 300px;
  width: 100%;
  font-size: 140%;
  color: white;
  transition: .5s;
}



footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
  border-top: solid #5c5b5b 1px;
}


footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: #3399CC;
}



.superfooter {
  font-style: italic;
  font-size: 0.8em;
}



.page-content h2 {
  color: #000000;
}

.page-content img {
  border-style: none;
  float: left;
  width: 510px;
  margin-right: 30px;
  margin-bottom: 15px;
  clear: both;
}

.page-content p {
  font-weight: 100;
}
